.app {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.app-background {
  background: rgb(237, 136, 121);
  background: linear-gradient(229deg, rgba(237, 136, 121, 1) 0%, rgba(241, 231, 210, 1) 100%);
}
